.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
    font-weight: bold;
}

.tableActions {
    width: 105px;
}

.todoForm {
    padding-bottom: 60px;
}